---
import Icon from "../icons/Icon.astro";

---
<div class="w-12 h-screen z-50 bg-white fixed left-0 flex flex-shrink-0 flex-col justify-center gap-12 shadow-lg">
    <Icon page="/" type="home" color="black" />
    <Icon page="/albums" type="image" color="black" />
    <Icon type="contact" color="black" />
</div>