---
import Icon from "../icons/Icon.astro";

---
<div class="w-12 flex flex-shrink-0 flex-col justify-center gap-12 shadow-lg">
    <Icon type="home" color="black" />
    <Icon type="image" color="black" />
    <Icon type="video" color="black" />
    <Icon type="contact" color="black" />
</div>