---
import Layout from '../layouts/Layout.astro';
import Featured from '../components/Featured.astro';
---
<Layout title="Welcome to Astro.">
	<main class="w-full h-full overflow-y-scroll snap-y snap-mandatory">
		<Featured id="home" type="image" path="teste.jpg">
			<div class=" flex flex-col h-screen justify-center">
				<h1 class="text-6xl ml-24 mb-12">Bem vindo!</h1>
				<p class="text-xl ml-24 mb-12 leading-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="h-0.5 w-8/12 bg-black"></div>
				<button class="text-white w-48 mt-6 ml-24 py-3 bg-black text-lg">Ver Albums</button>
			</div>

		</Featured>
		<Featured id="photos" type="image" path="sample2.jpg">
			<div class=" flex flex-col h-screen justify-center">
				<h1 class="text-6xl ml-24 mb-12">Fotos!</h1>
				<p class="text-xl ml-24 mb-12 leading-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="h-0.5 w-8/12 bg-black"></div>
				<button class="text-white w-48 mt-6 ml-24 py-3 bg-black text-lg">Ver Albums</button>
			</div>
		</Featured>
		<Featured id="videos" type="video" path="teste.mp4">
			<div class=" flex flex-col h-screen justify-center">
				<h1 class="text-6xl ml-24 mb-12">Videos!</h1>
				<p class="text-xl ml-24 mb-12 leading-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="h-0.5 w-8/12 bg-black"></div>
				<button class="text-white w-48 mt-6 ml-24 py-3 bg-black text-lg">Ver Albums</button>
			</div>
		</Featured>
		<Featured id="contact" type="image" path="sample3.jpg">
			<div class=" flex flex-col h-screen justify-center">
				<h1 class="text-6xl ml-24 mb-12">Fale connosco!</h1>
				<p class="text-xl ml-24 mb-12 leading-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="h-0.5 w-8/12 bg-black"></div>
				<button class="text-white w-48 mt-6 ml-24 py-3 bg-black text-lg">Ver Albums</button>
			</div>
		</Featured>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}

	main {
		margin: auto;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4F39FA;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
