---
import Navigation from '../components/Navigation.astro';

export interface Props {
    type: string,
    path: string,
    id: string
}

const {type, path, id} = Astro.props;

---

<section id={id} class="flex flex-col-reverse lg:flex-row h-screen relative snap-start">
    <div class="flex w-full h-1/2 lg:h-full lg:w-4/12 py-6 lg:py-0 lg:pl-12 z-20">
        <slot />
    </div>
    <div class="flex w-full h-1/2 lg:w-8/12 relative">
        <div class="w-full h-6 lg:w-2/12 bottom-0 z-10 bg-gradient-to-t lg:bg-gradient-to-r from-white absolute lg:h-screen z-10"></div>
        <div class="w-full h-12 lg:w-4/12 bottom-0 z-10 bg-gradient-to-t lg:bg-gradient-to-r from-white absolute lg:h-screen z-10"></div>
        <div class="w-full h-18 lg:w-8/12 bottom-0 z-10 bg-gradient-to-t lg:bg-gradient-to-r from-white absolute lg:h-screen z-10"></div>
        <div class="w-full lg:h-screen z-0">        
            {type === "video" && 
                <video class="object-cover w-full h-full" playsinline autoplay muted loop>
                    <source src={path} type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            }
            {type === "image" && <img src={path} alt="" class="w-full h-full object-cover" />}
        </div>
    </div>
</section>


<style>

</style>